#word{
  font-weight: bolder;
  background-image: -webkit-linear-gradient(top, #0d0b0b, #85230a, #e90707);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: ran 1s linear infinite;
  font-size: xx-large;
  align-items: center;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  font-family: Algerian;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.search-box{
  display: inline-flex;
  margin-left: 50%;
  transform: translate(-50%,-50%);
  background: #2f3640;
  width: 25%;
}
.search-txt{
  color: black;
  width: 100%;
}
.search-btn{
  color: #e84118;
  float: right;
  background: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
}

.search-box:hover .search-btn{
  background: black;
}

.dropbtn {
  background-color: #2f3640;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius:25px;
  transition: 1s;
}


.dropbtn:hover {
  background-color: white;
  color: black;
}


.container{
  display: flex;
  justify-content: center;
}

nav {
  background-color: #f2f2f2;
  width: 10%;
  float: left;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

li {
  margin: 9%;

}

a {
  display: block;
  color: #333;
  text-decoration: none;
  text-align: center;
}

a:hover {
  background-color: #333;
  color: #fff;
  transition: 1s;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.outside{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(20%), 1fr));
  width: 80%;
  margin: 0 auto;
}

.outside1{
  display: flex;
  justify-content: center;
  font-size: larger;
  font-family: "Bauhaus 93";
}

.center-text {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: #e91e63;
}


