<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Three Columns Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="movie-details.component.css">
</head>
<body>

<div class="row">
  <div class="column">
    <img src="https://image.tmdb.org/t/p/w500{{movieDetails.poster_path}}" alt="Movie Poster">
    <table>
      <tr>
        <td><button class="button button-1">1</button></td>
        <td><button class="button button-2">2</button></td>
        <td><button class="button button-3">3</button></td>
        <td><button class="button button-4">4</button></td>
        <td><button class="button button-5">5</button></td>
      </tr>
    </table>
    <div class="centered-paragraph">
      <p><b>How much did you enjoy this movie?</b></p>
    </div>
  </div>
  <div class="column">
    <h2>{{movieDetails.title}}</h2>
    <table>
      <tr>
        <td>Rating</td>
        <td>9.0/10</td>
      </tr>
      <tr>
        <td>Release Year</td>
        <td>{{movieDetails.release_date.slice(0,4)}}</td>
      </tr>
      <tr>
        <td>Director/s</td>
        <td>David Fincher</td>
      </tr>
      <tr>
        <td>Star/s</td>
        <td>Brad Pitt, Edward Norton</td>
      </tr>
      <tr>
        <td>Genres</td>
        <td><p *ngFor="let genre of movieDetails.genres">{{genre.name}}</p></td>
      </tr>
    </table>
    <table>
      <tr>
        <td colspan="2"><b>Overview</b></td>
      </tr>
      <tr>
        <td colspan="2">{{movieDetails.overview}}</td>
      </tr>
    </table>
  </div>
  <div class="column">
    <h2>Comments</h2>
    <p></p>
    <div class="input-container">
      <input type="text" class="input-field" placeholder="Type here...">
      <button class="submit-button">></button>
    </div>
  </div>
</div>
