
img {
  min-width: 500px;
  height: auto;
}

.actor-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(20%), 1fr));
  width: 80%;
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

/* Input and button styles */
.input-container {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; /* Move to the bottom of the column */
}

.input-field {
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
}

.submit-button {
  background-color: lightblue;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold; /* Make button text bold */
}
