<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Three Columns Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="movie-details.component.css">
</head>
<body>

<div class="row">
  <div class="column">
    <img src="https://m.media-amazon.com/images/M/MV5BNDIzNDU0YzEtYzE5Ni00ZjlkLTk5ZjgtNjM3NWE4YzA3Nzk3XkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_.jpg" alt="Movie Poster">
    <table>
      <tr>
        <td><button class="button button-1">1</button></td>
        <td><button class="button button-2">2</button></td>
        <td><button class="button button-3">3</button></td>
        <td><button class="button button-4">4</button></td>
        <td><button class="button button-5">5</button></td>
      </tr>
    </table>
    <div class="centered-paragraph">
      <p><b>How much did you enjoy this movie?</b></p>
    </div>
  </div>
  <div class="column">
    <h2>Fight Club</h2>
    <table>
      <tr>
        <td>Rating</td>
        <td>9.0/10</td>
      </tr>
      <tr>
        <td>Release Year</td>
        <td>1999</td>
      </tr>
      <tr>
        <td>Director/s</td>
        <td>David Fincher</td>
      </tr>
      <tr>
        <td>Star/s</td>
        <td>Brad Pitt, Edward Norton</td>
      </tr>
      <tr>
        <td>Genres</td>
        <td>Drama</td>
      </tr>
    </table>
    <table>
      <tr>
        <td colspan="2"><b>Overview</b></td>
      </tr>
      <tr>
        <td colspan="2">An insomniac office worker and a devil-may-care soapmaker form an underground fight club that evolves into something much, much more.</td>
      </tr>
    </table>
  </div>
  <div class="column">
    <h2>Comments</h2>
    <p></p>
    <div class="input-container">
      <input type="text" class="input-field" placeholder="Type here...">
      <button class="submit-button">></button>
    </div>
  </div>
</div>
