
.layout {
  display: flex;
  flex-direction: row;
}

.section {
  /*margin-bottom: 20px;*/
  padding: 20px;
  /*border: 1px solid #ccc;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fab {
  margin-right: 10px;
}

.fabs {
  margin-bottom: 20px;
  margin-top: 20px;
}


.fab:last-child {
  margin-right: 0;
}

.no-account{
  color: white;
  background-color: #e91e63;
}
