<ng-container>
  <div class="container-fluid">
  <div class="layout">
    <div class="section">
      <h1>Login to Your Account</h1>
      <div class="layout-horizontal fabs">
        <button class="fab" mat-fab color="primary">
          <mat-icon>apple-logo</mat-icon>
        </button>
        <button class="fab" mat-fab color="primary">
          <mat-icon>google-logo</mat-icon>
        </button>
        <button class="fab" mat-fab color="primary">
          <mat-icon>fb-logo</mat-icon>
        </button>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button color="primary">Sign in</button>
    </div>

    <div class="section no-account">
      <h1>No account yet?</h1>
      <a routerLink="/register">
      <button mat-raised-button color="accent" >Sign up</button>
      </a>
    </div>
  </div>
  </div>
</ng-container>
