<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">Home</a>
  </div>
  <span class="spacer"></span>
  <div fxFlex fxHide.xs>
    <app-search-bar></app-search-bar>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs *ngIf="!isLoggedIn()">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <button mat-button (click)="openRegister()">Register</button>
      </li>
      <li>
        <button mat-button (click)="openLogin()">Login</button>
      </li>
    </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs *ngIf="isLoggedIn()">
    <button mat-button (click)="logout()">Logout</button>
    <button mat-button (click)="goToProfile()">Go to profile</button>
  </div>
</mat-toolbar>
