
#search-field{
  border-radius: 15px 0px 0px 15px;
}

#search-button{
  border-radius: 0px 15px 15px 0px;
}


.button{
  padding-right: 1em;
  padding-right: 1em;
}

.spacer {
  flex: 1 1 auto;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}
