<ng-container>
  <nav>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="container text-center">
        <div class="row">
            <app-search-bar/>
        </div>
      </div>
      <span class="spacer"></span>
      <div class="button-row">
        <a mat-button routerLink="/" routerLinkActive="active" class="link-offset-2 link-underline link-underline-opacity-0">Home</a>
        <a mat-button routerLink="/register" routerLinkActive="active" class="link-offset-2 link-underline link-underline-opacity-0">Register</a>
        <a mat-button routerLink="/movie-details" routerLinkActive="active" class="link-offset-2 link-underline link-underline-opacity-0">Movie</a>
      </div>
    </mat-toolbar>
  </nav>
</ng-container>
