<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
<div class="container text-center">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-xl-8 col-sm-12">
      <h2>Trending movies</h2>
      <a *ngFor="let trendingMovie of movies" [href]="'/movie-details/'+trendingMovie.id">
        <app-movie-item class="inline-block"
                        [title]="trendingMovie.title"
                        [posterURL]="'https://image.tmdb.org/t/p/w500'+trendingMovie.poster_path"
        />
      </a>
    </div>
    <div class="col-xl-4 col-sm-12">
      <h2>Trending actors</h2>
      <app-actor-item class="actor"
                       *ngFor="let trendingActor of actors"
                       [actorName]="trendingActor.name"
                       [profilePictureUrl]="'https://image.tmdb.org/t/p/w500'+trendingActor.profile_path"
                      [actorId]="trendingActor.id"
      />
    </div>
  </div>
</div>
<p>{{catfact.fact}}</p>
</body>
</html>
