<!-- your-material-form.component.html -->

<form class="example-form">
  <div class="form-field">
    <mat-form-field>
      <label for="firstName">First Name:</label>
      <input matInput type="text" id="firstName" name="firstName"  required>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field>
      <label for="lastName">Last Name:</label>
      <input matInput type="text" id="lastName" name="lastName" required>
    </mat-form-field>
  </div>

  <div class="form-field">
    <button mat-raised-button type="submit">Submit</button>
  </div>
</form>
