<form class="example-form">
  <div class="form-field">
    <mat-form-field>
      <label for="username">Username</label>
      <input [ngModel]="username" matInput type="text" id="username" name="username"  required>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field>
      <label for="email">E-mail</label>
      <input [ngModel]="email" matInput type="email" id="email" name="email" required>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field>
      <label for="password">Password</label>
      <input [ngModel]="password" matInput type="password" id="password" name="password" required disabled>
    </mat-form-field>
  </div>

  <div class="form-field">
    <button mat-raised-button type="submit" (click)="save()">Submit</button>
  </div>
</form>
