<ng-container>
  <div class="layout">
    <div class="section main-section">
      <h1>Create an Account</h1>
      <div class="layout-horizontal fabs">
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input matInput [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" type="password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="register()">Sign up</button>
    </div>

    <div class="section no-account">
      <h1>Already registered?</h1>
        <button mat-raised-button color="accent" (click)="openLogin()">Sign in</button>
    </div>
  </div>
</ng-container>
