<ng-container>
  <div class="container-fluid">
    <div class="layout">
      <div class="section">
        <h1>Create an Account</h1>
        <div class="layout-horizontal fabs">
          <button class="fab" mat-fab color="primary">
            <mat-icon>apple-logo</mat-icon>
          </button>
          <button class="fab" mat-fab color="primary">
            <mat-icon>google-logo</mat-icon>
          </button>
          <button class="fab" mat-fab color="primary">
            <mat-icon>fb-logo</mat-icon>
          </button>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>E-mail</mat-label>
              <input
                matInput
                formControlName="username"
                [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
              >
              <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">Username is required</div>
                <div *ngIf="f['username'].errors['minlength']">
                  Username must be at least 6 characters
                </div>
                <div *ngIf="f['username'].errors['maxlength']">
                  Username must not exceed 20 characters
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input
                matInput
                formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              >
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors??['required']">Password is required</div>
                <div *ngIf="f['password'].errors??['minlength']">
                  Password must be at least 6 characters
                </div>
                <div *ngIf="f['password'].errors??['maxlength']">
                  Password must not exceed 40 characters
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>Password Confirmation</mat-label>
              <input
                matInput
                formControlName="confirmPassword"
                [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
              >
              <div
                *ngIf="submitted && f['confirmPassword'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['confirmPassword'].errors['required']">
                  Confirm Password is required
                </div>
                <div *ngIf="f['confirmPassword'].errors['matching']">
                  Confirm Password does not match
                </div>
              </div>
            </mat-form-field>
          </div>
        <button type="submit" mat-raised-button color="primary">Sign up</button>
      </form>
      </div>

      <div class="section no-account">
        <h1>No account yet?</h1>
        <a routerLink="/login">
          <button mat-raised-button color="accent" >Sign in</button>
        </a>
      </div>
    </div>
  </div>
</ng-container>
