<mat-tab-group>
  <mat-tab label="Actor">
    <br>
    <div style="width: 100%">
<img class="img1" src="https://image.tmdb.org/t/p/w500{{actorDetails.profile_path}}">
    <table class="table1">
      <tr>
        <td>Name</td>
        <td>{{actorDetails.name}}</td>
      </tr>
      <br>
      <br>
      <tr>
        <td>Gender</td>
        <td>{{actorDetails.gender}}</td>
      </tr>
      <br>
      <br>
      <tr>
        <td>Birthday</td>
        <td>{{actorDetails.birthday}}</td>
      </tr>
      <br>
      <br>
      <tr>
        <td>Place of birth</td>
        <td>{{actorDetails.place_of_birth}}</td>
      </tr>
      <br>
      <br>
      <tr>
        <td>Known for</td>
        <td>{{actorDetails.known_for_department}}</td>
      </tr>
    </table>
    </div>
  </mat-tab>
  <mat-tab label="Biography">
    <br>
    {{actorDetails.biography}}
  </mat-tab>
  <mat-tab label="Featured in">
    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-tab>
</mat-tab-group>
