.img1{
  width: 400px;
  height: 500px;
  float: left;
  margin-left: 5%;
}

.table1{
  width: 40%;
  margin-left: 45%;
  text-align: center;
  line-height: 38px;
  font-size: large;
}

img{
  height: 520px;
  width:auto;
}

.movie-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(20%), 1fr));
  width: 80%;
  margin: 0 auto;
}
