<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../components/Search.css">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Title</title>

</head>
<body>
<img class="backImage" src="../components/img_1.png">
<p id="word">Welcome to the search interface</p>
<form>
  <div class="search-box">
    <input type="search" class="search-txt" placeholder="Search">
    <a class="search-btn">
      <i class="fa fa-search" aria-hidden="true"></i>
    </a>
  </div>
</form>
<div class="container">
  <div class="dropdown2">
    <button class="dropbtn">AllMV</button>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Genre</button>
    <div class="dropdown-content">
      <a href="https://www.youtube.com/results?search_query=Comedy">Comedy</a>
      <a href="https://www.youtube.com/results?search_query=Action">Action</a>
      <a href="https://www.youtube.com/results?search_query=Romance">Romance</a>
      <a href="https://www.youtube.com/results?search_query=Horror">Horror</a>
      <a href="https://www.youtube.com/results?search_query=Drama">Drama</a>
      <a href="https://www.youtube.com/results?search_query=Fantasy">Fantasy</a>
      <a href="https://www.youtube.com/results?search_query=History">History</a>
    </div>
  </div>
  <div class="dropdown1">
    <button class="dropbtn">Actor</button>
    <div class="dropdown-content1">
      <a href="https://en.wikipedia.org/wiki/Tom_Hardy">Tom Hardy</a>
      <a href="https://en.wikipedia.org/wiki/Cillian_Murphy">Cillian Murphy</a>
      <a >Robert Downey Jr.</a>
      <a>Dwayne Johnson</a>
      <a>Jason Statham</a>
    </div>
  </div>
</div>
</body>
</html>

