<ng-container>
  <div class="container-fluid">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Navigation</span>
      <span class="example-spacer"></span>
      <app-search-bar></app-search-bar>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent">Login</button>
      <button mat-raised-button color="warn">Register</button>
    </mat-toolbar>
  </div>
</ng-container>
